.ferramentas-gratuitas {
    padding: 20% 8% 20% 8%;
    text-align: center;
}

.ferramentas-gratuitas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ferramentas-gratuitas__imagem {
    width: 155%;
    margin-bottom: 30px;
}

.ferramentas-gratuitas__campo-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ferramentas-gratuitas__campo-conteudo__titulo {
    color: var(--cor-azul-escuro);
    font-size: 1.7rem;
    font-weight: 600;
}

.ferramentas-gratuitas__campo-conteudo__texto {
    color: var(--cor-cinza-escuro);
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}






