.ferramentas-gratuitas {
    padding: 20% 0 20% 0;
    text-align: center;
}

.ferramentas-gratuitas__imagem-mobile {
    width: 100%;
    margin-bottom: 30px;
}

.ferramentas-gratuitas__imagem-desktop {
    display: none;
}

.ferramentas-gratuitas__campo-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 8%;
}

.ferramentas-gratuitas__campo-conteudo__titulo {
    color: var(--cor-azul-escuro);
    font-size: 1.7rem;
    font-weight: 600;
}

.ferramentas-gratuitas__campo-conteudo__texto {
    color: var(--cor-cinza-escuro);
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {

    .ferramentas-gratuitas {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10% 0 0;
        text-align: left;
    }

    .ferramentas-gratuitas__campo-imagens {
        padding: 10rem 0 3rem;
        width: 60%;
    }

    .ferramentas-gratuitas__imagem-mobile {
        display: none;
    }

    .ferramentas-gratuitas__imagem-desktop {
        display: block;
        width: 900px;
        position: relative;
        left: -256px;
        top: -73px;
    }

    .ferramentas-gratuitas__campo-conteudo {
        padding: 0;
    }
}
